

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<style>
  #body
  {
    background-color:plum
  }
</style>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first" id=body>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
         <h3>
            your payment is successfuly!!!!!!! 
            
          </h3>
          
          <h5> your coupon code is sent to your account!!!</h5>
          
   
          <br>
          <br>
          <br>
          <br>
          <br>
       <br>  <h5> <a routerLinkActive='active' [routerLink]="['/coupondetails']">
            <input type = "button"  value="Your Account "/> 
            </a></h5>
          <br>
          <br>
          <br>
          <br>
          <br>
        
        
         
    </div>
    
